<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proxy Settings</title>
</head>
<body>
  <h1>Stratum Proxy</h1>
  <form action="/start" method="POST">
    <button>Start</button>
  </form>
  <form action="/stop" method="POST">
    <button>Stop</button>
  </form>
  <h3>current settings:</h3>
  <label>pool address: <%= settings.poolURL %></label>
  <br><br>
  <label>pool port: <%= settings.poolPort %></label>
  <br><br>
  <label>proxy port: <%= settings.proxyPort %></label>
  <h3>settings:</h3>
  <form action="/update" method="POST">
    <label>
      pool address:
      <input type="text" name="pool_address" value="<%= settings.poolURL %>" required>
    </label>
    <br><br>
    <label>
      pool port:
      <input type="number" name="pool_port" value="<%= settings.poolPort %>" required>
    </label>
    <br><br>
    <label>
      proxy port:
      <input type="number" name="proxy_port" value="<%= settings.proxyPort %>" required>
    </label>
    <br><br>
    <button type="submit">Update</button>
  </form>
  <h3><%= typeof status !== 'undefined' ? status : "" %></h3>
</body>
</html>
